.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopaddingonly {
  padding: 0 !important;
}

.noborder {
  border: 0;
}

.w-100 {
  width: 100% !important;
  /*max-width: 100%;*/
  /*height: auto;*/
}
.main-color{
  background: #620032;
}
.category a.active {
  background: #851e77;
}

.header-color {
  background: #003262;
}

.above-img {
  position: relative;
  top: -23%;
}

.category a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #fff !important;
  border: 1px solid var(--warna_2);
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 6px;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.padding-side {
  padding-left: 1%;
  padding-right: 1%;
}

.mt-2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ps-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.cl-nav-1 {
  background-color: #145369;
}

.carousel-pad {
  margin: 5%;
  padding: 0 !important;
 
}

#wrapper {
  width: 100%;
  position: relative;
}

.parent-img {
  /* position: initial; */
  top: 0;
  left: 0;
  width: max-content;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}

.center-nav {
  vertical-align: middle !important;
  display: inline-block !important;
  float: none;
  text-align: center !important;
}

.rounded-bottom {

  border-bottom-right-radius: 1.25rem !important;
  border-bottom-left-radius: 1.25rem !important;
 
}


.body-color {
  background: #a313d3 ;
}


/*.img {*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  width: 50%;*/
/*}*/




.box-img {
    width: 100px;
    height: 100px;
        
}

.box1-img {
    object-fit: cover;
}

.box2-img {
    object-fit: contain;
}

.box3-img {
    background-size: contain;
    width: 20rem;
    height: 20rem;
    margin-right: 10px;
    
}




.footer-font {
    font-size: 75%;
}


.link-img {
    display: block;
    height: 65%;
}